@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.card {
  border-radius: 1rem;
  border: 1px solid #cacaca;
}

.card:hover {
  background-color: #cacaca
}

h1, h2, h3, h4, h5, h6, p, a, button, label {
  font-family: 'Roboto Condensed', sans-serif;
}
